/* :root{
    --color-principal: rgb(13, 31, 54); 
    --color-secundario: #116466; 
    --color-terciario: #3febee; 
    --color-cuarto: #FFCB9A; 
    --color-quinto: #D1E8E2; 
}

.bg-color-principal { background-color: var(--color-principal) !important; }
.bg-color-secundario{ background-color: var(--color-secundario) !important; }
.bg-color-terciario { background-color: var(--color-terciario) !important; }
.bg-color-cuarto    { background-color: var(--color-cuarto) !important; }
.bg-color-quinto    { background-color: var(--color-quinto) !important; }

.color-principal    { color: var(--color-principal) !important; }
.color-secundario   { color: var(--color-secundario) !important; }
.color-terciario    { color: var(--color-terciario) !important; }
.color-cuarto       { color: var(--color-cuarto) !important; }
.color-quinto       { color: var(--color-quinto) !important; } */


.bg-color-secundario > .uk-navbar-right .uk-navbar-nav > li > a
{
    color: white;
    opacity: 1;
    transition: opacity;
}

.bg-color-secundario > .uk-navbar-right .uk-navbar-nav > li > a:hover
{
    opacity: .6;
}

 .w-100
{
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}
/*
.custom-border
{
    padding: 50px;
    border: solid;
    border-width: 1px;
    border-color: var(--color-secundario);
}

.custom-input, .custom-input:hover, .custom-input:focus, .custom-input:active
{
    border-top: none;
    background: transparent;
    border-left: none;
    border-right: none;
    color: var(--color-quinto);
}

.custom-input:hover, .custom-input:focus, .custom-input:active
{
    border-top: none;
    background: transparent;
    border-left: none;
    border-right: none;
    border-color: var(--color-terciario);
} */

.custom-button
{
    border-radius: 50px;
    border-color: white;
    border-width: 2px;
    background: transparent;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom-button:hover, .custom-button:active, .custom-button:focus
{
    background: #80e311;
    border-color: #80e311;
}

.uk-navbar-nav > li > a
{
    color: white;
    transition: opacity .3s;
}

.uk-navbar-nav > li > a:hover
{
    opacity: .6;
    color: white !important;
}